In [1]:
import pandas as pd

In [2]:
dfcm = pd.read_csv('cm.csv')

In [3]:
dfci = pd.read_csv('captureit.csv')

In [4]:
dfcm

,Pers_num,Mem_Num,Title,Given,Surname,Street,Suburb,State,PostC,Email,Phone,Mobile,Status,Mailouts,Comments
0,2914,NaN,NaN,Annie,Kim,NaN,NaN,NaN,NaN,kymannie77@gmail.com,NaN,0433 019 781.,NaN,NaN,NaN
1,2896,NaN,Mr,Bob,MacMath,NaN,South Perth,WA,6151,robertmacmath@hotmail.com,NaN,0438326969.,NaN,NaN,NaN
2,3325,NaN,NaN,Caroline,Abbot,1-15 Forward,Manning,WA,6152,clucky666@gmail.com,NaN,0408903550.,NaN,NaN,NaN
3,7,NaN,Ms,Anne,Abbott,9 Canning Beach Rd,Applecross,WA,6153,anne@abbotts.net.au,NaN,0419364928.,NaN,NaN,NaN
4,8,NaN,Ms,Barbie,Abbott,109/16 Freedman Rd,Menora,WA,6050,bjzusman@westnet.com.au,93700235,.,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3314,1865,NaN,NaN,Peta,Zeller,12 Foreshore Entrance,Wilson,WA,6107,petaz@iinet.net.au,NaN,0402985506.,NaN,NaN,NaN
3315,3375,NaN,NaN,Anne,Zevis,3/11 King Edward St,South Perth,WA,6151,zevises@hotmail.com,NaN,0423114929.,NaN,NaN,NaN
3316,3027,NaN,Mrs,Chloe,Zhang,99 Douglas Ave,South perth,WA,6151,flomo96@gmail.com,NaN,0481069887.,NaN,NaN,Self added by auto enrol
3317,1864,NaN,Ms,Anne,Zion,NaN,Yokine,WA,6060,NaN,NaN,.,NaN,NaN,NaN
3318,2689,NaN,Mr,Robert,Zordan,1/52 Mill Point Road,South Perth,WA,6151,rzordan@iinet.net.au,NaN,0439399385.,NaN,"Email ,",NaN

In [5]:
dfci

,OrganisationID,CaptureIT UUID,Registered at eSafety,IsTutor,Learner Created Date,First BeConnected Activity Completed Date,First ADHA Activity Completed Date,First Contact Date,First Name,Last Name,...,Age,Gender,Country of birth,Language spoken at home,ATSI code,HasDisabilities,State,Suburb,Postcode,First Contact Date.1
0,8002168,2356815,0,0,2019-07-19,NaN,NaN,2019-07-19,John,Doe,...,67,N,NaN,NaN,NOTSTATED,NOT_STATED,Western Australia,South Terrace,6151,NaN
1,8002168,2399477,0,0,2019-11-12,2019-10-30,NaN,2019-10-30,Janet,Renner,...,63,F,England,NaN,NOT_DISCLOSED,NOT_DISCLOSED,Western Australia,Mount Pleasant,6153,NaN
2,8002168,2401743,0,0,2019-11-18,2019-11-12,NaN,2019-11-12,Andrea,Henning,...,82,F,NaN,NaN,NOT_DISCLOSED,NOT_DISCLOSED,Western Australia,South Perth,6151,NaN
3,8002168,2401744,0,0,2019-11-18,2019-11-12,NaN,2019-11-12,Diane,Cooper,...,66,F,NaN,NaN,NOT_DISCLOSED,NOT_DISCLOSED,Western Australia,Shelley,6148,NaN
4,8002168,2401745,0,0,2019-11-18,2019-11-12,NaN,2019-11-12,Patricia,Embry,...,78,F,NaN,NaN,NOT_DISCLOSED,NOT_DISCLOSED,Western Australia,South Perth,6151,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
293,8002168,2640373,0,0,2022-01-25,2021-11-04,NaN,2021-11-04,Alicia,Zablah,...,69,F,Spain,Spanish,NO,NO,Western Australia,Karawara,6152,NaN
294,8002168,2639555,0,0,2022-01-20,2021-07-09,NaN,2021-07-09,Marie,Ward,...,72,F,Serbia,Hungarian,NO,NO,Western Australia,South Perth,6151,NaN
295,8002168,2639568,0,0,2022-01-20,2021-11-02,NaN,2021-11-02,Buby,Sett,...,63,F,Sri Lanka,Tamil,NO,NO,Western Australia,Applecross,6153,NaN
296,8002168,2639017,0,0,2022-01-18,2021-07-22,NaN,2021-07-22,Lin,Ang,...,52,F,Malaysia,Malay,NO,NO,Western Australia,Redcliffe,6104,NaN
297,8002168,2639009,0,0,2022-01-18,2021-08-25,NaN,2021-08-25,Keely,Miho,...,46,F,Japan,Japanese,NO,NO,Western Australia,Victoria Park,6100,NaN

In [6]:
dfci = dfci.rename(columns={'First Name': 'Given','Last Name':'Surname'})

In [7]:
dfci

,OrganisationID,CaptureIT UUID,Registered at eSafety,IsTutor,Learner Created Date,First BeConnected Activity Completed Date,First ADHA Activity Completed Date,First Contact Date,Given,Surname,...,Age,Gender,Country of birth,Language spoken at home,ATSI code,HasDisabilities,State,Suburb,Postcode,First Contact Date.1
0,8002168,2356815,0,0,2019-07-19,NaN,NaN,2019-07-19,John,Doe,...,67,N,NaN,NaN,NOTSTATED,NOT_STATED,Western Australia,South Terrace,6151,NaN
1,8002168,2399477,0,0,2019-11-12,2019-10-30,NaN,2019-10-30,Janet,Renner,...,63,F,England,NaN,NOT_DISCLOSED,NOT_DISCLOSED,Western Australia,Mount Pleasant,6153,NaN
2,8002168,2401743,0,0,2019-11-18,2019-11-12,NaN,2019-11-12,Andrea,Henning,...,82,F,NaN,NaN,NOT_DISCLOSED,NOT_DISCLOSED,Western Australia,South Perth,6151,NaN
3,8002168,2401744,0,0,2019-11-18,2019-11-12,NaN,2019-11-12,Diane,Cooper,...,66,F,NaN,NaN,NOT_DISCLOSED,NOT_DISCLOSED,Western Australia,Shelley,6148,NaN
4,8002168,2401745,0,0,2019-11-18,2019-11-12,NaN,2019-11-12,Patricia,Embry,...,78,F,NaN,NaN,NOT_DISCLOSED,NOT_DISCLOSED,Western Australia,South Perth,6151,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
293,8002168,2640373,0,0,2022-01-25,2021-11-04,NaN,2021-11-04,Alicia,Zablah,...,69,F,Spain,Spanish,NO,NO,Western Australia,Karawara,6152,NaN
294,8002168,2639555,0,0,2022-01-20,2021-07-09,NaN,2021-07-09,Marie,Ward,...,72,F,Serbia,Hungarian,NO,NO,Western Australia,South Perth,6151,NaN
295,8002168,2639568,0,0,2022-01-20,2021-11-02,NaN,2021-11-02,Buby,Sett,...,63,F,Sri Lanka,Tamil,NO,NO,Western Australia,Applecross,6153,NaN
296,8002168,2639017,0,0,2022-01-18,2021-07-22,NaN,2021-07-22,Lin,Ang,...,52,F,Malaysia,Malay,NO,NO,Western Australia,Redcliffe,6104,NaN
297,8002168,2639009,0,0,2022-01-18,2021-08-25,NaN,2021-08-25,Keely,Miho,...,46,F,Japan,Japanese,NO,NO,Western Australia,Victoria Park,6100,NaN

In [8]:
dfci.head()

,OrganisationID,CaptureIT UUID,Registered at eSafety,IsTutor,Learner Created Date,First BeConnected Activity Completed Date,First ADHA Activity Completed Date,First Contact Date,Given,Surname,...,Age,Gender,Country of birth,Language spoken at home,ATSI code,HasDisabilities,State,Suburb,Postcode,First Contact Date.1
0,8002168,2356815,0,0,2019-07-19,NaN,NaN,2019-07-19,John,Doe,...,67,N,NaN,NaN,NOTSTATED,NOT_STATED,Western Australia,South Terrace,6151,NaN
1,8002168,2399477,0,0,2019-11-12,2019-10-30,NaN,2019-10-30,Janet,Renner,...,63,F,England,NaN,NOT_DISCLOSED,NOT_DISCLOSED,Western Australia,Mount Pleasant,6153,NaN
2,8002168,2401743,0,0,2019-11-18,2019-11-12,NaN,2019-11-12,Andrea,Henning,...,82,F,NaN,NaN,NOT_DISCLOSED,NOT_DISCLOSED,Western Australia,South Perth,6151,NaN
3,8002168,2401744,0,0,2019-11-18,2019-11-12,NaN,2019-11-12,Diane,Cooper,...,66,F,NaN,NaN,NOT_DISCLOSED,NOT_DISCLOSED,Western Australia,Shelley,6148,NaN
4,8002168,2401745,0,0,2019-11-18,2019-11-12,NaN,2019-11-12,Patricia,Embry,...,78,F,NaN,NaN,NOT_DISCLOSED,NOT_DISCLOSED,Western Australia,South Perth,6151,NaN

In [9]:
dfcm.head()

,Pers_num,Mem_Num,Title,Given,Surname,Street,Suburb,State,PostC,Email,Phone,Mobile,Status,Mailouts,Comments
0,2914,NaN,NaN,Annie,Kim,NaN,NaN,NaN,NaN,kymannie77@gmail.com,NaN,0433 019 781.,NaN,NaN,NaN
1,2896,NaN,Mr,Bob,MacMath,NaN,South Perth,WA,6151,robertmacmath@hotmail.com,NaN,0438326969.,NaN,NaN,NaN
2,3325,NaN,NaN,Caroline,Abbot,1-15 Forward,Manning,WA,6152,clucky666@gmail.com,NaN,0408903550.,NaN,NaN,NaN
3,7,NaN,Ms,Anne,Abbott,9 Canning Beach Rd,Applecross,WA,6153,anne@abbotts.net.au,NaN,0419364928.,NaN,NaN,NaN
4,8,NaN,Ms,Barbie,Abbott,109/16 Freedman Rd,Menora,WA,6050,bjzusman@westnet.com.au,93700235,.,NaN,NaN,NaN

In [10]:
dfovrlp = pd.merge(dfci,dfcm,how='inner',on=['Given','Surname'])

In [11]:
dfovrlp

,OrganisationID,CaptureIT UUID,Registered at eSafety,IsTutor,Learner Created Date,First BeConnected Activity Completed Date,First ADHA Activity Completed Date,First Contact Date,Given,Surname,...,Street,Suburb_y,State_y,PostC,Email,Phone,Mobile,Status,Mailouts,Comments
0,8002168,2356815,0,0,2019-07-19,NaN,NaN,2019-07-19,John,Doe,...,1 George Street,South perth,WA,6151,admin@splc.org.au,93671254,.,NaN,NaN,Self added by auto enrol
1,8002168,2356815,0,0,2019-07-19,NaN,NaN,2019-07-19,John,Doe,...,NaN,South Perth,WA,6151,NaN,NaN,.,NaN,NaN,<font class=fontColorHot>Credit Expires <input...
2,8002168,2399477,0,0,2019-11-12,2019-10-30,NaN,2019-10-30,Janet,Renner,...,9 Queens Rd,Mount Pleasant,WA,6153,janet2058@gmail.com,NaN,0432845422.,NaN,NaN,<font class=fontColorHot>Credit Expires <input...
3,8002168,2401743,0,0,2019-11-18,2019-11-12,NaN,2019-11-12,Andrea,Henning,...,U9 6 Manning Terrace,South Perth,WA,6151,henning8@bigpond.net.au,0428 311 074,0428 311 074.,NaN,NaN,NaN
4,8002168,2401744,0,0,2019-11-18,2019-11-12,NaN,2019-11-12,Diane,Cooper,...,10A Mosaic St West,Shelley,WA,6148,dcooper@iinet.net.au,94570819,0408916512.,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,8002168,2639830,0,0,2022-01-21,2021-12-21,NaN,2021-12-21,Rod,Kantor,...,PO Box 7141,Karawara,WA,6952,caracol@bigpond.net.au,94502070,.,NaN,NaN,NaN
196,8002168,2639569,0,0,2022-01-20,2021-07-05,NaN,2021-07-05,Maryon,Allbrook,...,48b Griffin Crescent,Manning,WA,6152,brookwood@westnet.com.au,NaN,0452445233.,NaN,NaN,Self added by auto enrol
197,8002168,2640373,0,0,2022-01-25,2021-11-04,NaN,2021-11-04,Alicia,Zablah,...,16/9 Clydesdale St,Como,WA,6152,aliciazablah@tpg.com.au,000000,0451728732.,NaN,NaN,NaN
198,8002168,2639555,0,0,2022-01-20,2021-07-09,NaN,2021-07-09,Marie,Ward,...,5/17 Richardson St,South Perth,WA,6151,marie.ward6152@gmail.com,94742136,0438148664.,NaN,NaN,<font class=fontColorHot>Credit Expires <input...
199,8002168,2639017,0,0,2022-01-18,2021-07-22,NaN,2021-07-22,Lin,Ang,...,2 Graham Place,Redcliffe,WA,6104,ang_woi_lin@hotmail.com,0401644325,0401644325.,NaN,NaN,Self added by auto enrol