In [1]:
import pandas as pd
from pathlib import Path

In [2]:
input_file = Path.cwd()/'data'/'raw'/'course_income.csv'

In [3]:
df = pd.read_csv(input_file)

In [4]:
df

,Course,Code,First Session,Day,Start,Sessions,Tot-Stus,Concession-Stus,CM Fee,Operating Fee,Concession Fee,Materials,Total Income
0,Book Club,CA1,21-May-2021 9:30am,Fri,9:30am,2,12,4,$9.80,$0.00,$0.00,NaN,$240.00
1,Botanical Ink Drawing,AC56,3-May-2021 9:30am,Mon,9:30am,8,10,0,$36.00,$800.00,$0.00,NaN,"$1,835.00"
2,Craft and Coffee Club,CA18,13-May-2021 1:00pm,Thu,1:00pm,8,4,1,$14.40,$0.00,$0.00,NaN,$200.00
3,Crochet Advanced,AC6,5-May-2021 1:30pm,Wed,1:30pm,8,5,1,$18.00,$320.00,$0.00,NaN,$475.00
4,Crochet Beginners Beanie Workshop,AC21,9-Jun-2021 6:30pm,Wed,6:30pm,2,6,1,$5.40,$234.00,$0.00,NaN,$360.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,Watercolours Beginners and Ongoing,AC13,10-May-2021 12:00pm,Mon,12:00pm,8,10,1,$36.00,$560.00,$0.00,NaN,"$1,020.00"
71,Writing your Memoirs Workshop Part 2,T22,21-Jun-2021 2:30pm,Mon,2:30pm,1,6,1,$2.70,$100.00,$0.00,NaN,$360.00
72,Writing your Memoirs Workshop Part 2,T22,28-Jun-2021 2:30pm,Mon,2:30pm,1,6,1,$2.70,$100.00,$0.00,NaN,$360.00
73,Yoga for Everybody,HW14,10-May-2021 5:00pm,Mon,5:00pm,8,6,0,$21.60,$320.00,$0.00,NaN,$660.00
74,NaN,NaN,NaN,NaN,440,529,67,"$1,438.70",28480.5,$0.00,$0.00,"$52,099.86",NaN

## Lose the unwanted columns

In [5]:
df.drop(['Day','Start','Concession-Stus','CM Fee','Concession Fee', 'Materials'], axis=1, inplace=True)

## Remove the dollar sign and comma from e.g. $1,500

In [6]:
df['Total Income']=df['Total Income'].str.lstrip('$')
df['Operating Fee']=df['Operating Fee'].str.lstrip('$')
df['Total Income']=df['Total Income'].str.replace(',','')
df['Operating Fee']=df['Operating Fee'].str.replace(',','')

## Change the strings to numeric

In [7]:
df['Total Income']=df['Total Income'].str.lstrip('$')
df['Operating Fee']=df['Operating Fee'].str.lstrip('$')
df['Total Income']=df['Total Income'].str.replace(',','')
df['Operating Fee']=df['Operating Fee'].str.replace(',','')
df['Total Income']=pd.to_numeric(df['Total Income'])
df['Operating Fee']=pd.to_numeric(df['Operating Fee'])

## Calculate and add the Profit column

In [8]:
df['Profit']=df['Total Income']-df['Operating Fee']

## Sort by Profit

In [9]:
df = df.sort_values('Profit', ascending=False)

In [10]:
df

,Course,Code,First Session,Sessions,Tot-Stus,Operating Fee,Total Income,Profit
57,Spanish A1 Beginners,L28,6-May-2021 1:30pm,1,11,70.0,1600.0,1530.0
48,Mahjong For Beginners - Chinese,CA22,15-May-2021 9:30am,8,18,560.0,2040.0,1480.0
61,Spanish B1 Intermediate - Thursday,L24,6-May-2021 9:00am,1,9,70.0,1405.0,1335.0
59,Spanish A2 Beginners Ongoing,L20,6-May-2021 11:00am,1,8,70.0,1280.0,1210.0
47,Mahjong Club Wednesday - Western,CA15,12-May-2021 9:30am,9,19,0.0,1140.0,1140.0
...,...,...,...,...,...,...,...,...
38,International and Current Affairs,CA5,29-Jun-2021 1:00pm,3,2,262.5,32.5,-230.0
58,Spanish A1 Beginners,L28,10-Jun-2021 1:30pm,6,11,420.0,0.0,-420.0
60,Spanish A2 Beginners Ongoing,L20,10-Jun-2021 11:00am,6,8,420.0,0.0,-420.0
62,Spanish B1 Intermediate - Thursday,L24,10-Jun-2021 9:00am,6,9,420.0,0.0,-420.0
74,NaN,NaN,NaN,529,67,0.0,NaN,NaN

In [11]:
df = df[["Course","Code","First Session","Sessions","Tot-Stus","Total Income","Operating Fee","Profit"]]

In [12]:
df

,Course,Code,First Session,Sessions,Tot-Stus,Total Income,Operating Fee,Profit
57,Spanish A1 Beginners,L28,6-May-2021 1:30pm,1,11,1600.0,70.0,1530.0
48,Mahjong For Beginners - Chinese,CA22,15-May-2021 9:30am,8,18,2040.0,560.0,1480.0
61,Spanish B1 Intermediate - Thursday,L24,6-May-2021 9:00am,1,9,1405.0,70.0,1335.0
59,Spanish A2 Beginners Ongoing,L20,6-May-2021 11:00am,1,8,1280.0,70.0,1210.0
47,Mahjong Club Wednesday - Western,CA15,12-May-2021 9:30am,9,19,1140.0,0.0,1140.0
...,...,...,...,...,...,...,...,...
38,International and Current Affairs,CA5,29-Jun-2021 1:00pm,3,2,32.5,262.5,-230.0
58,Spanish A1 Beginners,L28,10-Jun-2021 1:30pm,6,11,0.0,420.0,-420.0
60,Spanish A2 Beginners Ongoing,L20,10-Jun-2021 11:00am,6,8,0.0,420.0,-420.0
62,Spanish B1 Intermediate - Thursday,L24,10-Jun-2021 9:00am,6,9,0.0,420.0,-420.0
74,NaN,NaN,NaN,529,67,NaN,0.0,NaN

In [13]:
df.to_csv('hurrah.csv',index=False)