In [1]:
import pandas as pd
from pathlib import Path

In [2]:
input_file = Path.cwd()/'data'/'raw'/'course_income.csv'

In [3]:
df = pd.read_csv(input_file)

In [4]:
df

,Course,Code,First Session,Day,Start,Sessions,Tot-Stus,Concession-Stus,CM Fee,Operating Fee,Concession Fee,Materials,Total Income
0,A Social History of Cycling,T25,24-May-2021 3:30pm,Mon,3:30pm,1,3,0,$1.35,$100.00,$0.00,NaN,$60.00
1,Australian Film Club - Mystery Road,CA28,7-Jul-2021 3:00pm,Wed,3:00pm,1,0,0,$0.00,$0.00,$0.00,NaN,$0.00
2,Book Club,CA1,21-May-2021 9:30am,Fri,9:30am,2,7,3,$6.30,$0.00,$0.00,NaN,$140.00
3,Botanical Ink Drawing,AC56,3-May-2021 9:30am,Mon,9:30am,8,10,0,$36.00,$800.00,$0.00,NaN,"$2,020.00"
4,Colour Therapy Part 2 - Chakra Sundays,HW18,16-May-2021 11:00am,Sun,11:00am,7,1,0,$3.15,$300.00,$0.00,NaN,$350.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
69,Watercolours Beginners and Ongoing,AC13,10-May-2021 12:00pm,Mon,12:00pm,8,10,1,$36.00,$560.00,$0.00,NaN,"$1,530.00"
70,Writing your Memoirs Workshop Part 2,T22,21-Jun-2021 2:30pm,Mon,2:30pm,1,0,0,$0.00,$100.00,$0.00,NaN,$0.00
71,Writing your Memoirs Workshop Part 2,T22,28-Jun-2021 2:30pm,Mon,2:30pm,1,0,0,$0.00,$100.00,$0.00,NaN,$0.00
72,Yoga for Everybody,HW14,10-May-2021 5:00pm,Mon,5:00pm,8,6,0,$21.60,$400.00,$0.00,NaN,$660.00
73,NaN,NaN,NaN,NaN,444,482,56,"$1,382.80",28077,$0.00,$0.00,"$52,191.94",NaN

## Lose the unwanted columns

In [5]:
df.drop(['Day','Start','Concession-Stus','CM Fee','Concession Fee', 'Materials'], axis=1, inplace=True)

## Remove the dollar sign and comma from e.g. $1,500

In [6]:
df['Total Income']=df['Total Income'].str.lstrip('$')
df['Operating Fee']=df['Operating Fee'].str.lstrip('$')
df['Total Income']=df['Total Income'].str.replace(',','')
df['Operating Fee']=df['Operating Fee'].str.replace(',','')

## Change the strings to numeric

In [7]:
df['Total Income']=df['Total Income'].str.lstrip('$')
df['Operating Fee']=df['Operating Fee'].str.lstrip('$')
df['Total Income']=df['Total Income'].str.replace(',','')
df['Operating Fee']=df['Operating Fee'].str.replace(',','')
df['Total Income']=pd.to_numeric(df['Total Income'])
df['Operating Fee']=pd.to_numeric(df['Operating Fee'])

## Calculate and add the Profit column

In [8]:
df['Profit']=df['Total Income']-df['Operating Fee']

## Sort by Profit

In [9]:
df = df.sort_values('Profit', ascending=False)

In [10]:
df

,Course,Code,First Session,Sessions,Tot-Stus,Operating Fee,Total Income,Profit
43,Mahjong For Beginners - Chinese,CA22,15-May-2021 9:30am,8,17,560.0,1920.0,1360.0
3,Botanical Ink Drawing,AC56,3-May-2021 9:30am,8,10,800.0,2020.0,1220.0
58,Spanish A2 Beginners Ongoing,L20,6-May-2021 11:00am,1,8,70.0,1280.0,1210.0
56,Spanish A1 Beginners,L28,6-May-2021 1:30pm,1,9,70.0,1280.0,1210.0
60,Spanish B1 Intermediate - Thursday,L24,6-May-2021 9:00am,1,8,70.0,1245.0,1175.0
...,...,...,...,...,...,...,...,...
71,Writing your Memoirs Workshop Part 2,T22,28-Jun-2021 2:30pm,1,0,100.0,0.0,-100.0
61,Spanish B1 Intermediate - Thursday,L24,10-Jun-2021 9:00am,6,8,420.0,0.0,-420.0
59,Spanish A2 Beginners Ongoing,L20,10-Jun-2021 11:00am,6,8,420.0,0.0,-420.0
57,Spanish A1 Beginners,L28,10-Jun-2021 1:30pm,6,9,420.0,0.0,-420.0
73,NaN,NaN,NaN,482,56,0.0,NaN,NaN

In [11]:
df.to_csv('hurrah.csv',index=False)